.box {
  position: fixed;
  right: 20rpx;
  bottom: 20rpx;
  z-index: 1000;
  width: 90rpx;
  height: 90rpx;
  background: #ededed;
  border-radius: 45rpx;
  display: flex;
  justify-content: center;
  align-items: center;
}
